html
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: url(channels4_profile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40%;
    padding-bottom: 40%;
}
.noglowek
{
}
header h1
{
    display: flex;
    justify-content: center;
}
header p
{
    display: flex;
    justify-content: center;
}
header a
{
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
    border-style: groove;
    margin: 10px;
}
.przycisk
{
    display: flex;
    justify-content: center;
}
.hero
{
    display: flex;
    justify-content: space-around;
}
.okno
{
    border-style: groove;
    width: 16%;
    height: auto;
}
.okno h1
{
    display: flex;
    justify-content: center;
}
.okno p
{
    display: flex;
    justify-content: center;
}
.okno a
{
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
    border-style: groove;
    margin: 10px;
}
.przyciskokno
{
    display: flex;
    justify-content: end;
}
.przerwa
{
    margin-top: 17%;
}
.stopka
{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
@media screen and (max-width: 340px) 
{
    header
    {
        padding-top: 0;
        padding-bottom: 0;
    }
    main
    {
        display: block;
        justify-content: center;
    }
    .hero
    {
        display: flex;
        flex-direction: column-reverse;
        width: 400%;
        margin-left: 20%;
    }
    .sigma
    {
        display: flex;
        justify-content: space-around;
    }
    .sigmaI
    {
        display: flex;
        margin-left: 5%;
    }
    .stopka
    {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
}